# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media

# Virtualenv
*.pyc
*.pyo
*.egg-info/
*.log
*.tar.gz
local_settings.py
db.bin
*.bak
*.swp
*~
*.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
