{% extends "base.html" %}

{% block content %}
<!-- Bootstrapin CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
           <!-- Hakulomake laitteiden etsimiseen -->
            <form method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" name="q" placeholder="Hae laitetta..." class="form-control">
                    <div class="input-group-append">
                        <input type="submit" value="Hae" class="btn btn-dark">
                    </div>
                </div>
            </form>
            <h1 class="text-light">Laitteet ja palvelut</h1>
		  <div class="col-md-12">
		   <!-- Navigointilinkit eri laitetyypeille -->
		  {% for type in device_types %}
		  <a href="#{{ type }}" class="mx-2">{{ type }}</a>
		  {% endfor %}
		  </div>

	     <!-- Iteroidaan eri laitetyypit ja näytetään niiden tiedot -->
             {% for type in device_types %}
                <h2 class="text-light mt-4" id="{{ type }}">{{ type }}</h2>
                <div class="row">
                    {% for device in devices %}
                        {% if device.type == type %}
                            <div class="col-md-4 mb-4">
                                <div class="card bg-dark text-light">
                                    <div class="card-header">{{ device.type }}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ device.name }}</h5>
                                        <p class="card-text">
                                            Malli: {{ device.model }}<br>
                                            IP: {{ device.ip_address }}<br>
                                        </p>
                                        <!--  Linkki laitteen hallintapaneeliin, jos sellainen on määritelty -->
					{% if device.admin_link %}
                                        <a href="{% url 'redirect_to_device' device.pk %}" target="_blank" class="btn btn-secondary">Hallintapaneeli</a>
					{% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--  Bootstrapin JS ja Popper.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
