<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labran hallintasivusto</title>
    <!-- Voit lisätä tähän muita metatietoja, tyylitiedostoja, skriptejä jne. -->
</head>
<body>
<nav>
    <a href="{% url 'add_device' %}">Lisää laite</a>
    <!-- ... muut navigointilinkit ... -->
</nav>
    <header>
        <h1>Labran hallintasivusto</h1>
        <!-- Voit lisätä tähän navigointipalkin, jos tarvitset -->
    </header>

    <main>
        {% block content %}
        <!-- Sisältöalue, jonka muut mallipohjat voivat täyttää -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Labran hallintasivusto. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>
